In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("E:\\hackerearth\\hcl\\dataset\\train.csv")
test=pd.read_csv("E:\\hackerearth\\hcl\\dataset\\test.csv")

In [33]:
data.tail()

,patient_id,name_of_drug,use_case_for_drug,review_by_patient,effectiveness_rating,drug_approved_by_UIC,number_of_times_prescribed,base_score
32160,183202,Cymbalta,Anxiety,"""I have been taking Cymbalta for 15 months now...",9,10-Jun-13,89,6.963020
32161,109111,Nexplanon,Birth Control,"""I have had the Nexplanon since Dec. 27, 2016 ...",6,6-Apr-17,0,0.899076
32162,121154,Venlafaxine,Panic Disorde,"""Had panic attacks and social anxiety starting...",9,10-Nov-16,25,6.241812
32163,45410,Fluoxetine,Obsessive Compulsive Disorde,"""I have been off Prozac for about 4 weeks now....",8,21-Jan-15,22,7.940428
32164,187382,Orencia,Rheumatoid Arthritis,"""Limited improvement after 4 months, developed...",2,15-Mar-14,35,8.205393

In [4]:
data.isnull().any()

patient_id                    False
name_of_drug                  False
use_case_for_drug             False
review_by_patient             False
effectiveness_rating          False
drug_approved_by_UIC          False
number_of_times_prescribed    False
base_score                    False
dtype: bool

In [5]:
test.head()

,patient_id,name_of_drug,review_by_patient,drug_approved_by_UIC,number_of_times_prescribed,use_case_for_drug,effectiveness_rating
0,163740,Mirtazapine,"""I&#039;ve tried a few antidepressants over th...",28-Feb-12,22,Depression,10
1,39293,Contrave,"""Contrave combines drugs that were used for al...",5-Mar-17,35,Weight Loss,9
2,208087,Zyclara,"""4 days in on first 2 weeks. Using on arms an...",3-Jul-14,13,Keratosis,4
3,23295,Methadone,"""Ive been on Methadone for over ten years and ...",18-Oct-16,21,Opiate Withdrawal,7
4,97013,Ambien,"""Ditto on rebound sleepless when discontinued....",13-Jan-15,44,Insomnia,2

In [6]:
fdata=data.append(test,sort=False)

In [7]:
fdata.isnull().any()

patient_id                    False
name_of_drug                  False
use_case_for_drug             False
review_by_patient             False
effectiveness_rating          False
drug_approved_by_UIC          False
number_of_times_prescribed    False
base_score                     True
dtype: bool

In [8]:
fdata.reset_index(inplace=True)

In [9]:
fdata.tail()

,index,patient_id,name_of_drug,use_case_for_drug,review_by_patient,effectiveness_rating,drug_approved_by_UIC,number_of_times_prescribed,base_score
42920,10755,151266,Chantix,Smoking Cessation,"""I took chantix a little over a month. It made...",1,11-Nov-17,2,NaN
42921,10756,139347,Armodafinil,Narcolepsy,"""This medicine kept me from sleeping the whole...",1,30-Sep-14,18,NaN
42922,10757,159999,Tamoxifen,"Breast Cancer, Prevention","""I have taken Tamoxifen for 5 years. Side effe...",10,13-Sep-14,43,NaN
42923,10758,130945,Levonorgestrel,Birth Control,"""I&#039;m married, 34 years old and I have no ...",8,15-Nov-10,7,NaN
42924,10759,113712,Arthrotec,Sciatica,"""It works!!!""",9,13-Sep-09,46,NaN

In [10]:
import re
import nltk
nltk.download('stopwords') #contain irrelvant words  & ava in diff lang
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
corpus = [] #corpus collection of strings
for i in range(0,42925):
    review = re.sub('[^a-zA-Z]', ' ', str(fdata['review_by_patient'][i])) #remove  except a-z & A-Z & create space b/w words
    review = review.lower() #capital to lower
    review = review.split()  #sentence to words
    ps = PorterStemmer()  # loved to love (diff kind of same word into standard word)
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))] #take words not in stopward
    review = ' '.join(review) #again to string sep by space
    corpus.append(review)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer(analyzer='word', ngram_range=(1,3), max_features=6000)
X = cv.fit_transform(corpus).toarray()
y = data['base_score']

In [12]:
fea=['effectiveness_rating','number_of_times_prescribed']
dataforsc=fdata[fea]

In [13]:
dataforsc.isnull().any()

effectiveness_rating          False
number_of_times_prescribed    False
dtype: bool

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_sc = scaler.fit_transform(dataforsc)

In [15]:
X1 = pd.DataFrame(data=X_sc)

In [16]:
X = pd.DataFrame(data=X)

In [17]:
X.isnull().any()

0       False
1       False
2       False
3       False
4       False
        ...
5995    False
5996    False
5997    False
5998    False
5999    False
Length: 6000, dtype: bool

In [18]:
x = pd.concat([X,X1],axis=1)

In [26]:
x.isnull().any()

0       False
1       False
2       False
3       False
4       False
        ...
5997    False
5998    False
5999    False
0       False
1       False
Length: 6002, dtype: bool

In [28]:
x

,0,1,2,3,4,5,6,7,8,9,...,5992,5993,5994,5995,5996,5997,5998,5999,0,1
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.888889,0.035019
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.777778,0.249027
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.444444,0.022049
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.888889,0.047990
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.111111,0.055772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42920,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.002594
42921,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.023346
42922,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.055772
42923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.777778,0.009079
42924,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.888889,0.059663

In [34]:
traindata=x[0:32165]
testdata=x[32165:]

In [35]:
traindata.describe()

,0,1,2,3,4,5,6,7,8,9,...,5992,5993,5994,5995,5996,5997,5998,5999,0,1
count,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000,...,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000,32165.000000
mean,0.000554,0.001226,0.000202,0.000784,0.000876,0.001150,0.005862,0.000271,0.000247,0.000503,...,0.002784,0.000249,0.001116,0.000235,0.000282,0.000217,0.000535,0.000491,0.666546,0.036178
std,0.009941,0.015374,0.006303,0.013068,0.012761,0.018211,0.026920,0.007593,0.007645,0.010601,...,0.025150,0.007162,0.014284,0.008429,0.007805,0.010490,0.013696,0.013707,0.363865,0.046458
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.444444,0.007782
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.777778,0.020752
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.046693
max,0.315910,0.489213,0.322213,0.533181,0.428659,0.588999,0.495869,0.497283,0.439158,0.429745,...,0.590874,0.357616,0.490801,0.535724,0.458726,0.727099,0.647446,0.740911,1.000000,1.000000

In [36]:
traindata.isnull().any()

0       False
1       False
2       False
3       False
4       False
        ...
5997    False
5998    False
5999    False
0       False
1       False
Length: 6002, dtype: bool

In [37]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0) # as n inc,acc inc
regressor.fit(traindata, y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [38]:
y_pred = regressor.predict(testdata)

In [39]:
submission=pd.DataFrame()
submission['patient_id']=test['patient_id']
submission['base_score']=y_pred
submission.to_csv('rf100.csv',index=False)